   <!-- Navbar Start -->
@if (ViewData["menuDefault"] != null){
<nav class="navbar navbar-expand-lg navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" style="background: purple" data-wow-delay="0.1s">
    <a href="#" class="navbar-brand ms-3 d-lg-none">MENU</a>
    <button type="button" class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
        <div class="navbar-nav me-auto p-3 p-lg-0">
                @if (ViewData["menuDefault"] == "TrangChu")
                {
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Trang chủ</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Trang chủ</a>
                }

                @if (ViewData["menuDefault"] == "DichVu")
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Dịch vụ</a>
                        <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                            @foreach (var item in ViewData["menuDefaultServiceTypeDto"] as List<ServiceTypeDto>)
                            {
                                <a asp-controller="Service" asp-action="Index" asp-route-name="@item.TypeName" class="dropdown-item">@item.TypeName</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Dịch vụ</a>
                        <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                            @foreach (var item in ViewData["menuDefaultServiceTypeDto"] as List<ServiceTypeDto>)
                            { 
                                <a asp-controller="Service" asp-action="Index" asp-route-name="@item.TypeName" class="dropdown-item">@item.TypeName</a>
                            }
                        </div>
                    </div>
                }

                @if (ViewData["menuDefault"] == "MyPham")
                {

                    <div class="nav-item">
                        <a asp-controller="Product" asp-action="Index" class="nav-link  active">Mỹ phẩm</a>
                    </div>
                }
                else
                {

                    <div class="nav-item ">
                        <a asp-controller="Product" asp-action="Index" class="nav-link ">Mỹ phẩm</a>
                    </div>
                }

                @if (ViewData["menuDefault"] == "BaiViet")
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link  active" data-bs-toggle="dropdown">Bài viết</a>
                    </div>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link " data-bs-toggle="dropdown">Bài viết</a>
                    </div>
                }

                @if (ViewData["menuDefault"] == "HoiDap")
                {
                    <div class="nav-item dropdown ">
                        <a href="#" class="nav-link active">Hỏi đáp</a>
                    </div>
                }
                else
                {
                    <div class="nav-item dropdown ">
                        <a href="#" class="nav-link">Hỏi đáp</a>
                    </div>
                }

                @if (ViewData["menuDefault"] == "Liên hệ")
                {
                    <a href="https://www.facebook.com/profile.php?id=100085020003835" class="nav-item nav-link active">Liên hệ</a>
                }
                else
                {
                    <a href="https://www.facebook.com/profile.php?id=100085020003835" class="nav-item nav-link">Liên hệ</a>
                }
            

        </div>
            @if (ViewData["IdAccount"] != null)
            {
                <ul id="ViewUserAccount" class="list-unstyled mt-3 ms-2">
                    <!-- User -->
                    <li class="">
                        <a data-bs-toggle="dropdown">
                            <div class="">
                                <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" class="h-auto rounded-circle" style="width:40px" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">

                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <button id="btnShowViewCarts" class="dropdown-item">
                                    <span class="d-flex align-items-center align-middle">
                                        <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                                        <span class="flex-grow-1 align-middle">Giỏ hàng</span>
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button  class="dropdown-item">
                                    <span class="d-flex align-items-center align-middle">
                                        <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                                        <span class="flex-grow-1 align-middle">Đơn hàng</span>
                                    </span>
                                </button>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="bx bx-user me-2"></i>
                                    <span class="align-middle">Thông tin</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="bx bx-cog me-2"></i>
                                    <span class="align-middle">Đổi mật khẩu</span>
                                </a>
                            </li>

                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" onclick="deleteCookie('IdAccount')" asp-area="Admin" asp-controller="Login" asp-action="Index">
                                    <i class="bx bx-power-off me-2"></i>
                                    <span class="align-middle">Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--/ User -->
                </ul>
            }
            else
            {
                <a asp-area="Admin" asp-controller="Login" asp-action="Index" id="statusLogin" class="btn btn-sm btn-light rounded-pill py-2 px-4 d-none d-lg-block">Đăng nhập</a>
            }

           
    </div>
</nav>
}

<!-- Navbar End -->