@model PromotionDto
@{
    Layout = "_LayoutAdmin";
}
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="container-fluid">





                <div class="d-flex flex-row">
                    <a asp-area="Admin" asp-controller="Promotion" asp-action="Index" class="btn btn-icon rounded-pill btn-secondary mb-3 text-white">
                        <span class="bx bxs-log-out-circle display-3"></span>
                    </a>
                    <h4 class="align-self-center ms-2">THÔNG TIN KHUYẾN MÃI</h4>
                </div>






                <form asp-area="Admin" asp-controller="Promotion" asp-action="Create">
                    <div>
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label class="form-label text-capitalize">Tên khuyến mãi</label>
                            <input asp-for="PromotionName" type="text" class="form-control " placeholder="nhập tên khuyến mãi" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-capitalize">Giá trị chuyến mãi (%)</label>
                            <input asp-for="PromotionValue" type="number" class="form-control " placeholder="nhập giá trị khuyến mãi" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-capitalize">Thời gian khuyến mãi (đến ngày)</label>
                            <input asp-for="PromotionTime" type="text" class="form-control " placeholder="nhập thời hạn khuyến mãi" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-capitalize">Ghi chú</label>
                            <textarea class="form-control"
                                      asp-for="Other"
                                      placeholder="nhập ghi chú"></textarea>
                        </div>
                    </div>
            <button type="reset" class="btn btn-secondary text-white">Nhập lại</button>
                    <button type="submit" class="btn btn-success">Tạo mới</button>
                </form>







            </div>
        </div>
        <!-- / Content -->
