@model UserDto
@{
    Layout = "_LayoutAdmin";
}

        <!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-fluid ">


        <div class="d-flex flex-row">
            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-icon rounded-pill btn-secondary mb-3 text-white">
                <span class="bx bxs-log-out-circle display-3"></span>
            </a>
            <h4 class="align-self-center ms-2">THÔNG TIN NGƯỜI DÙNG</h4>
        </div>


        <div class="card mb-4">
            <h5 class="card-header">Thông tin chi tiết</h5>
            <!-- Account -->
            <hr class="my-0" />
            <div class="card-body">
                <form sp-area="Admin" asp-controller="User" asp-action="Create">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Họ và Tên</label>
                            <input class="form-control" asp-for="FullName"
                                   type="text"
                                   placeholder="Nguyễn Văn A"
                                   autofocus />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Số CCCD</label>
                            <input class="form-control" asp-for="Idcard"
                                   placeholder="0912123456"
                                   type="number"/>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Ngày sinh</label>
                            <input class="form-control" asp-for="Birthdate"
                                   placeholder="30/03/2002"
                                   type="text" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Giới tính(1:Nam/0:Nữ)</label>
                            <input class="form-control" asp-for="Gender"
                                   placeholder="1"
                                   type="number" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Số điện thoại</label>
                            <input class="form-control" asp-for="Phone"
                                   placeholder="0123456789"
                                   type="number" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Tài khoản ngân hàng</label>
                            <input class="form-control" asp-for="BankAccount"
                                   placeholder="01234567898520"
                                   type="number" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Lương</label>
                            <input class="form-control" asp-for="Salary"
                                   placeholder="60000000"
                                   type="number" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Email</label>
                            <input class="form-control" asp-for="Email"
                                   placeholder="nguyenvana2002@gmail.com"
                                   type="email" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Quê quán</label>
                            <input class="form-control" asp-for="Hometown"
                                   placeholder="Vĩnh Phong-Vĩnh Thuận-Kiên Giang"
                                   type="text" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nơi ở hiện tại</label>
                            <input class="form-control" asp-for="CurrentAddress"
                                   placeholder="Long Tuyền-Bình Thủy-Cần Thơ"
                                   type="text" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Bảo hiểm y tế</label>
                            <input class="form-control" asp-for="HealthInsurance"
                                   placeholder="0963852741"
                                   type="text" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Bảo hiểm tai nạn</label>
                            <input class="form-control" asp-for="SocialInsurance"
                                   placeholder="9638520741"
                                   type="text" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Phân loại người dùng</label>
                            <select name="UserTypeId" class="form-control" asp-items="ViewBag.userTypes"></select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Trạng thái người dùng</label>
                            <select name="UserStatusId" class="form-control" asp-items="ViewBag.userStatusDtos"></select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Làm việc tại chi nhánh</label>
                            <select name="BranchId" class="form-control" asp-items="ViewBag.branchs"></select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Ghi chú</label>
                            <textarea asp-for="Other" class="form-control"
                                      placeholder="Nhập ghi chú"></textarea>
                        </div>
                        
                    </div>
                    <div class="mt-2">
                        <button type="reset" class="btn btn-secondary">Nhập lại</button>
                        <button type="submit" class="btn btn-success me-2">Tạo mới</button>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>

@section Scripts{
}
<!-- / Content -->
