@model CustomerDto
@{
    Layout = "_LayoutAdmin";
}

        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="container-fluid">


        <div class="d-flex flex-row">
            <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn btn-icon rounded-pill btn-secondary mb-3 text-white">
                <span class="bx bxs-log-out-circle display-3"></span>
            </a>
            <h4 class="align-self-center ms-2">THÔNG TIN KHÁCH HÀNG</h4>
        </div>

        <div class="card mb-4">
            <h5 class="card-header">Thông tin chi tiết</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="/AdminAssets/assets/img/avatars/1.png"
                         alt="user-avatar"
                         class="d-block rounded"
                         height="100"
                         width="100"
                         id="uploadedAvatar" />
                    <p>
                        "Phục vụ khách hàng là nghệ thuật tôn trọng, nơi mỗi cử chỉ chân thành tạo nên câu chuyện không gian đẹp của sự quan tâm và hài lòng."
                    </p>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row ">
                            <input type="hidden" id="idCustomer" asp-for="Id" />
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Họ và Tên</label>
                                <input class="form-control" id="fullName" asp-for="FullName"
                                       type="text"
                                       placeholder="Nguyễn Văn A"
                                       autofocus />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Số CCCD</label>
                                <input class="form-control" id="idcard" asp-for="Idcard"
                                       placeholder="0912123456"
                                       type="number" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Ngày sinh</label>
                                <input class="form-control" id="birthdate" asp-for="Birthdate"
                                       placeholder="30/03/2002"
                                       type="text" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Giới tính(1:Nam/0:Nữ)</label>
                                <input class="form-control" id="gender" asp-for="Gender"
                                       placeholder="1"
                                       type="number" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Số điện thoại</label>
                                <input class="form-control" id="phoneNumber" asp-for="PhoneNumber"
                                       placeholder="0123456789"
                                       type="number" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Facebook</label>
                                <input class="form-control" id="facebookLink" asp-for="FacebookLink"
                                       placeholder="https://??"
                                       type="text" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Zalo</label>
                                <input class="form-control" id="zaloLink" asp-for="ZaloLink"
                                       placeholder="https://??"
                                       type="tel" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Email</label>
                                <input class="form-control" id="email" asp-for="Email"
                                       placeholder="nguyenvana2002@gmail.com"
                                       type="email" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Địa chỉ</label>
                                <input class="form-control" id="address" asp-for="Address"
                                       placeholder="Vĩnh Phong-Vĩnh Thuận-Kiên Giang"
                                       type="text" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Phân loại người dùng</label>
                                <select name="CustomerStatusId" id="customerStatusId" class="form-control" asp-items="ViewBag.CustomerStatus"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Trạng thái người dùng</label>
                                <select name="CustomerTypeId" id="customerTypeId" class="form-control" asp-items="ViewBag.CustomerType"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Dịch vụ quan tâm</label>
                                <textarea asp-for="InterestedServices" id="interestedServices" class="form-control"
                                          placeholder="Nhập dịch vụ khách hàng quan tâm"></textarea>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Ghi chú</label>
                                <textarea asp-for="Other" id="other" class="form-control"
                                          placeholder="Nhập ghi chú"></textarea>
                            </div>

 

                        </div>
                    </div>


                    @* Show Image *@
                    <div class="col-md-5">
                        <h5 class="my-4">Hình Ảnh Khách Hàng</h5>

                        <div class="pb-3">
                            <!-- Thêm ảnh -->
                            <button class="btn btn-success" id="addImage">Thêm ảnh</button>

                            <!-- Thẻ input ẩn để chọn file -->
                            <input type="file" id="fileInput" style="display:none" accept="image/*" onchange="handleFileSelect(this)">

                            <button class="btn btn-danger text-white" onclick="deleteImage()">Xóa ảnh</button>
                        </div>
                        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/AdminAssets/assets/img/avatars/1.png" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Thêm ảnh</h3>
                                        <p>Vui lòng thêm ảnh để hệ thống phục vụ bạn tốt hơn</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <button id="btnReset" class="btn btn-secondary">Nhập lại</button>
                    <button id="btnCreate" class="btn btn-success me-2">Tạo mới</button>
                </div>
            </div>
            <!-- /Account -->
        </div>




    </div>
</div>

@section Scripts{
    <script>
        // Định nghĩa đối tượng ảnh
        function ImageObject(Id, CustomerId, Image) {
            this.Id = Id;
            this.CustomerId = CustomerId;
            this.Image = Image;
        }

        // Mảng chứa đối tượng ảnh
        var imageArray = [];

        // Hàm mở hộp thoại chọn ảnh
        function openFileInput() {
            $("#fileInput").click();
        }

        // Hàm xử lý khi chọn ảnh
        function handleFileSelect(input) {
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var imageData = e.target.result;

                    // Tạo đối tượng ảnh mới và thêm vào mảng
                    var newImage = new ImageObject(0, null, imageData);
                    imageArray.push(newImage);
                    // Cập nhật carouselExample
                    updateCarousel();
                };
                reader.readAsDataURL(file);
            }
        }

        // Hàm xóa ảnh
        function deleteImage() {
            if (imageArray.length > 0) {
                imageArray.pop(); // Xóa ảnh cuối cùng trong mảng
                updateCarousel();
            }
        }

        // Hàm cập nhật carousel-indicators
        function updateIndicators() {
            var carouselIndicators = $("#carouselExample .carousel-indicators");
            carouselIndicators.empty(); // Xóa tất cả các chỉ số hiện tại

            // Thêm chỉ số mới vào carouselIndicators
            for (var i = 0; i < imageArray.length; i++) {
                var activeClass = i === (imageArray.length - 1) ? "active" : "";

                var indicator =
                    '<li data-bs-target="#carouselExample" data-bs-slide-to="' + i + '" class="' + activeClass + '"></li>';

                carouselIndicators.append(indicator);
            }
        }

        // Hàm cập nhật cả carousel-indicators và carousel-inner
        function updateCarousel() {
            updateIndicators(); // Cập nhật chỉ số trước
            var carouselInner = $("#carouselExample .carousel-inner");
            carouselInner.empty(); // Xóa tất cả các ảnh hiện tại

            // Thêm ảnh mới vào carouselInner
            for (var i = 0; i < imageArray.length; i++) {
                var image = imageArray[i];
                if (i == (imageArray.length - 1)) {
                    $('#uploadedAvatar').attr('src', image.Image);
                }
                var activeClass = i === (imageArray.length - 1) ? "active" : "";

                var carouselItem =
                    '<div class="carousel-item ' + activeClass + '">' +
                    '<img class="d-block w-100" src="' + image.Image + '" alt="Slide ' + (i + 1) + '">' +
                    '<div class="carousel-caption d-none d-md-block">' +
                    '<p>Hình ảnh ' + (i + 1) + '</p>' +
                    '</div>' +
                    '</div>';

                carouselInner.append(carouselItem);
            }
        }
        // Hàm hiển hiện Tin Nhắn Thông Báo
        function displayToastrMessages(status, mesg) {
            let successData = '';
            let errorData = '';
            let warningData = '';
            if (status == 1) {
                successData = mesg;
            }
            else if (status == 2) {
                warningData = mesg;
            }
            else {
                errorData = mesg;
            }


            if (successData !== '') {
                toastr.success(successData);
            }
            if (errorData !== '') {
                toastr.error(errorData);
            }
            if (warningData !== '') {
                toastr.warning(warningData);
            }
        }
         
        $(document).ready(function () {

            $("#addImage").click(function () {
                openFileInput();
            });
            $("#btnReset").click(function () {
                $('#fullName').val("");
                $('#birthdate').val("");
                $('#phoneNumber').val("");
                $('#idcard').val("");
                $('#facebookLink').val("");
                $('#zaloLink').val("");
                $('#email').val("");
                $('#gender').val("");
                $('#address').val("");
                $('#interestedServices').val("");
                $('#customerStatusId').val(1);
                $('#customerTypeId').val(1);
                $('#other').val("");
            });
            
            $("#phoneNumber").on("input", function () {
                if ($("#phoneNumber").val().length > 10) {
                    displayToastrMessages(2, "Số điện thoại chỉ có 10 số");
                    var maxLength = 10;
                    var currentValue = $(this).val();
                    // Xóa các ký tự không phải số và giới hạn độ dài
                    var sanitizedValue = currentValue.replace(/\D/g, '').substring(0, maxLength);
                    // Cập nhật giá trị của trường input
                    $(this).val(sanitizedValue);
                }
            });

            $("#btnCreate").click(function () {
                // Tạo customerObject
                let customerObject = {
                    Id: 0,
                    FullName: $('#fullName').val(),
                    Birthdate: $('#birthdate').val(),
                    PhoneNumber: $('#phoneNumber').val(),
                    Idcard: $('#idcard').val(),
                    FacebookLink: $('#facebookLink').val(),
                    ZaloLink: $('#zaloLink').val(),
                    Email: $('#email').val(),
                    Gender: $('#gender').val(),
                    Address: $('#address').val(),
                    InterestedServices: $('#interestedServices').val(),
                    CustomerStatusId: $('#customerStatusId').val(),
                    CustomerTypeId: $('#customerTypeId').val(),
                    Other: $('#other').val()
                };
                // Check properties
                if (customerObject.FullName.length <= 0 || customerObject.FullName.length > 255) {
                    displayToastrMessages(2, "Tên khách hàng không hợp lệ");
                }
                else if (customerObject.PhoneNumber.length <= 0 || customerObject.PhoneNumber.length > 12) {

                    displayToastrMessages(2, "Số điện thoại không hợp lệ");
                }
                else {
                    // Chuyển đổi thành JSON
                    customerObjectJSON = JSON.stringify(customerObject);
                    imageArrayJSON = JSON.stringify(imageArray);
                    // using Ajax
                    $.ajax({
                        url: "/Admin/Customer/CreateCustomer",
                        type: 'POST',
                        async: false,
                        data: { customer: customerObjectJSON, images: imageArrayJSON },
                        success: function (result) {
                            if (result == true) {
                                displayToastrMessages(1, "Tạo khách hàng thành công");
                                window.location.href = '/Admin/Customer/Index';
                            }
                            else {
                                displayToastrMessages(2, "Tạo khách hàng thất bại");
                            }
                            // window.location.href = '/Admin/Customer/Index';
                        },
                        error: function (error) {
                            alert("Lỗi AJAX");
                        }
                    });
                }
            });
        });

    </script>
}
<!-- / Content -->
