@model PostTypeDto
@{
    Layout = "_LayoutAdmin";
    int id = Model.Id;
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-fluid">







        <div class="d-flex flex-row">
            <a asp-area="Admin" asp-controller="PostType" asp-action="Index" class="btn btn-icon rounded-pill btn-secondary mb-3 text-white">
                <span class="bx bxs-log-out-circle display-3"></span>
            </a>
            <h4 class="align-self-center ms-2">THÔNG TIN DANH MỤC</h4>
        </div>








        <form asp-area="Admin" asp-controller="PostType" asp-action="Edit">
            <div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label class="form-label text-capitalize">Tên danh mục</label>
                    <input asp-for="TypeName" type="text" class="form-control " placeholder="nhập tên danh mục" />
                </div>
                <div class="mb-3">
                    <label class="form-label text-capitalize">Ghi chú</label>
                    <textarea class="form-control"
                              asp-for="Other"
                              placeholder="nhập ghi chú"></textarea>
                </div>
            </div>
            <button type="reset" class="btn btn-secondary text-white">Nhập lại</button>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </form>









    </div>
</div>
<!-- / Content -->
